.container {
    position: absolute;
    display: flex;
}

.circle-container {
    position: relative;
    margin-top: 20px;
    margin-left: 20px
}

.circle {
    width: 150px;
    height: 150px;
    opacity: 0.7;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
}

.circle-transform {
    position: absolute;
}

.c-1 {
    background-color: #FF7F7F;
    z-index: 1;
}

.c-2 {
    background-color: #7FB7DF;
    z-index: 3;
}

.c-3 {
    background-color: #7FD7A7;
    z-index: 2;
}

.c-1-p {
    left:51px;
}

.c-2-p {
    top:-51px;
}

.c-3-p {
    top: -204px;
    left: 104px;
}

.c-1-t {
    transform: translate(51px, 0);
}

.c-2-t {
    transform: translate(0px, 104px);
}

.c-3-t {
    transform: translate(104px, 104px);
}
